@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: black;
  color: #39FF14;
}

@layer utilities {
  .animate-blink {
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}
